@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:white;">
    <h1 class="display-4">Welcome to my world</h1>
    <p><img src="https://bestanimations.com/uploads/gifs/384803044earth-and-moon-spinning-orbiting-animation-1.gif" /></p>

    <p>Learn about Saad by clicking on my emoji<a style="font-size:2em;text-decoration:none;" href="https://www.linkedin.com/in/saad-mohammad-5b826b133/">&#128540;</a>.</p>
</div>
