@*Delete customer*@
@model Customer

@{
    ViewData["Title"] = "Are you sure to delete ?";
}
<form method="post" asp-action="DeleteCompleted" style="color: antiquewhite; font-weight: bold; text-align: center; align-content: center; ">

    <div style="color:brown">Supprimer le client suivant ?</div><br /><br />
    <div>@Model.FirstName</div>
    <div>@Model.LastName</div>
    <div>@Model.BirthDate.ToShortDateString()</div><br />

    <button type="submit" style="background-color:yellowgreen; color:darkred;">Supprimer</button>
</form>