@model Customer
@*Edit customer*@
<form method="post" style="color: antiquewhite; font-weight: bold; align-content: center; text-align: center; ">
    <div>
        Nom de famille :
        <br />
        <input asp-for="LastName" />
    </div>
    <div>
        Prénom :
        <br />
        <input asp-for="FirstName" />
    </div>
    <div>
        Date de naissance :
        <br />
        <input asp-for="BirthDate" /><br />
    </div>
    <div>
        <button type="submit" style="background-color:lightgreen;color:black;">Modifier</button>
        <button type="submit" asp-action="Index" style="background-color:burlywood;color:black;">Revenir</button>
    </div>
</form>

@{
}
